@import "../../../styles/variables";

.root :global {
  .pagination {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;

    &.single {
      display: none; // temporary solution

      & .previous,
      & .next {
        display: none;
      }
    }

    li {
      margin: 0 .4rem;
      position: relative;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }

      &.active {
        margin: 0 0.3rem;

        a {
          border: 1px solid $color-primary-accent;
          padding: 0.65rem 0.5rem;
          line-height: 1.3rem;
        }
      }

      a {
        border-radius: 2px;
        color: $color-primary-accent;
        cursor: pointer;
        display: block;
        border: 1px solid transparent;
        font-family: $Source_Sans_Pro_Regular;
        font-size: 1.6rem;
        padding: 0.65rem 0.5rem;
        line-height: 1.3rem;
        outline-style: none;
        text-decoration: none;
        width: 1.6rem;
        height: 1.3rem;
        text-align: center;

        &:active {
          border: 1px solid transparent;
          background-color: $color-primary-accent-pressed;
          color: $color-white;
        }

        @media (min-width: $bp-lg) {
          &:hover {
            border: 1px solid transparent;
            background-color: $color-primary-hover;
            color: $color-white;
          }
        }
      }

      &.previous,
      &.next {
        padding: 0;
        display: flex;
        align-items: center;
        margin: 0;

        a {
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          width: 1.2rem;
          height: 0.8rem;
          background: transparent;

          .arrowIcon {
            height: 1.2rem;
      
            path[data-fill] {
              fill: $color-primary-accent;
            }
          }
        }

        &.disabled {
          a {
            background: none;
            cursor: auto;

            path[data-fill] {
              fill: $color-black-a25;
            }
          }
        }
      }

      &.previous {
        margin-right: 1rem;
      }

      &.next {
        margin-left: 1rem;
      }
    }

    .break-me {
      margin: 0;

      a {
        pointer-events: none;
      }
    }
  }
}
