@import "../../styles/common";

$color-button: #30A78E;
$color-button-disable: rgb(41 176 148 / 50%);

.bgSubscription {
  position: relative;
  background: url("../../images/subscription/bg_subscription-320.jpg") no-repeat center;
  background-size: cover;
  min-height: 232px;

  @media (min-width: $bp-sm) {
    background-image: url("../../images/subscription/bg_subscription-568.jpg");
  }

  @media (min-width: $bp-md) {
    background-image: url("../../images/subscription/bg_subscription-768.jpg");
  }

  @media (min-width: $bp-lg) {
    background-image: url("../../images/subscription/bg_subscription-1024.jpg");
  }

  @media (min-width: $bp-xl) {
    background-image: url("../../images/subscription/bg_subscription-1344.jpg");
  }
}

.container {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;

  @media (min-width: $bp-sm) {
    padding-top: 3.8rem;
    padding-bottom: 3.8rem;
  }

  @media (min-width: $bp-lg) {
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
  }

  @media (min-width: $bp-xl) {
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
  }
}

.containerSuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media (min-width: $bp-md) {
    padding-top: 4.8rem;
    padding-bottom: 5.6rem;
  }

  @media (min-width: $bp-lg) {
    padding-top: 5.6rem;
    padding-bottom: 6rem;
  }
}

.containerPost {
  @media (min-width: $bp-lg) {
    padding-left: 12rem;
    padding-right: 12rem;
  }

  @media (min-width: $bp-xl) {
    padding-left: 25.6rem;
    padding-right: 25.6rem;
  }
}

.title {
  color: $color-white;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 2rem;

  @media (min-width: $bp-sm) {
    margin-bottom: .8rem;
  }

  @media (min-width: $bp-lg) {
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 1.2rem;
  }
}

.caption {
  display: none;

  @media (min-width: $bp-sm) {
    display: block;
    color: $color-white;
    margin-bottom: 2.4rem;
  }

  @media (min-width: $bp-lg) {
    margin-bottom: 3.2rem;
  }
}

.form {
  position: relative;
}

.inputContainer {
  display: flex;
  align-items: center;
  background-color: $color-white;
  border-radius: .4rem .2rem .2rem .4rem;

  @media (min-width: $bp-sm) {
    width: 50.4rem;
  }

  @media (min-width: $bp-md) {
    width: 54rem;
  }
}

.emailInput, .buttonSubmit {
  display: inline-block;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.emailInput {
  width: calc(100% - 4.8rem);
  height: 4.8rem;
  padding: 1.2rem 1rem 1.2rem 2.4rem;
  color: $color-black;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: $Source_Sans_Pro_Regular;
  border-bottom-left-radius: .4rem;
  border-top-left-radius: .4rem;

  &.emailInputError {
    border: .2rem solid $color-negative;
    border-right: none;
  }

  &::placeholder {
    color: $color-black-a45;
  }

  @media (min-width: $bp-sm) {
    width: calc(100% - 11.6rem);
  }

  @media (min-width: $bp-md) {
    padding: 1.2rem 1.6rem 1.2rem 2.4rem;
  }
}

.errorMessage {
  position: absolute;
  color: $color-negative;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-top: .8rem;
  margin-bottom: 0;
}

.buttonSubmit {
  width: 4.8rem;
  height: 4.8rem;
  background: $color-button;
  border-top-right-radius: .2rem;
  border-bottom-right-radius: .2rem;
  cursor: pointer;

  @media (min-width: $bp-sm) {
    width: 11.6rem;
  }

  .arrowIcon {
    width: 2.4rem;
    height: 2.4rem;

    path[data-fill] {
      fill: $color-white;
    }
    @media (min-width: $bp-sm) {
      display: none;
    }
  }

  .buttonCaption {
    display: none;
    @media (min-width: $bp-sm) {
      display: inline;
      text-transform: uppercase;
      font-size: 1.4rem;
      line-height: 2rem;
      font-family: $Source_Sans_Pro_Bold;
      color: $color-white;
      letter-spacing: .15rem;
    }
  }

  &.loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.buttonSubmitDisable {
  background: rgba($color-primary-accent, .25);
  cursor: not-allowed;
}

.SuccessScreenIcon {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.2rem;
  width: 5.6rem;
  height: 5.6rem;
  background-color: $color-positive;
  border: 0.1rem solid $color-positive;
  border-radius: 50%;

  &::before {
    content: '';
    display: block;
    background: url("/src/v2_common/images/checked.svg") no-repeat center;
    background-size: 3.3rem;
    width: 2.9rem;
    height: 2.1rem;
  }

  @media (min-width: $bp-lg) {
    margin-bottom: 3.2rem;
  }
}

.successTitle{
  color: $color-white;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 0;
  width: 28.8rem;
  text-align: center;

  @media (min-width: $bp-md) {
    width: 40rem;
  }

  @media (min-width: $bp-lg) {
    width: 49rem;
    font-size: 3.2rem;
    line-height: 4rem;
  }
}

.privacyPolicy {
  font-size: 1rem;
  line-height: 1.6rem;
  margin-top: 1.2rem;
  color: rgb(255 255 255 / 65%);
  max-width: 38.8rem;

  a {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #FFF;

    &:hover {
      color: $color-primary-hover;
    }
  }

  @media (min-width: $bp-sm) {
    font-size: 1.2rem;
    line-height: 1.8rem;

    a {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }

  @media (min-width: $bp-md) {
    min-width: 48.8rem;
  }
}

.privacyPolicyError {
  margin-top: 34px;
}

.forbidden {
  height: 29.6rem;

  @media (min-width: $bp-sm) {
    height: 25.6rem;
  }

  @media (min-width: $bp-lg) {
    height: 28.4rem;
  }

  @media (min-width: $bp-xl) {
    height: 32rem;
  }
}

.root {
  width: 100%;
  height: 29.6rem;
  padding: 2.4rem 1.6rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(10 10 72 / 85%);
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;

  @media (min-width: $bp-sm) {
    height: 25.6rem;
    padding: 3.6rem 1.4rem;
  }

  @media (min-width: $bp-lg) {
    height: 28.4rem;
    padding: 2.8rem 2.4rem;
  }

  @media (min-width: $bp-xl) {
    height: 32rem;
    padding: 4.6rem 2.4rem;
  }
}

.warningIcon {
  width: 5.6rem;
  height: 5.6rem;
  background: #F18E3B;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.4rem;
  user-select: none;

  span {
    width: .4rem;
    background: $color-white;

    &:first-of-type {
      height: 1.7rem;
      margin-bottom: .4rem;
    }

    &:last-of-type {
      height: .4rem;
    }
  }

  @media (min-width: $bp-sm) {
    margin-bottom: 3.2rem;
  }
}

.rejectMessageHeading {
  font-family: $Museo_Sans_Bold;
  font-size: 2.4rem;
  color: $color-white;
  text-align: center;
  line-height: 3.2rem;
  margin-bottom: .8rem;

  @media (min-width: $bp-sm) {
    margin-bottom: 1.6rem;
  }

  @media (min-width: $bp-lg) {
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 1.6rem;
  }
}

.rejectMessageDescription {
  font-family: $Source_Sans_Pro_Regular;
  font-size: 1.6rem;
  color: $color-white;
  text-align: center;
  line-height: 2.4rem;

  @media (min-width: $bp-md) {
    max-width: 54.2rem;
  }

  @media (min-width: $bp-lg) {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}