//Source Sans Pro
@font-face {
  font-family: 'Source Sans Pro Regular';
  src: local('Source Sans Pro Regular'),
  url(sourcesanspro-regular.woff2) format('woff2'),
  url(sourcesanspro-regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: local('Source Sans Pro Light'),
  url(sourcesanspro-light.woff2) format('woff2'),
  url(sourcesanspro-light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro Bold';
  src: local('Source Sans Pro Bold'),
  url(sourcesanspro-bold.woff2) format('woff2'),
  url(sourcesanspro-bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro Semibold';
  src:local('Source Sans Pro Semibold'),
  url(sourcesanspro-semibold.woff2) format('woff2'),
  url(sourcesanspro-semibold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro Italic';
  src: local('Source Sans Pro Italic'),
  url(sourcesanspro-it.woff2) format('woff2'),
  url(sourcesanspro-it.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//Museo Sans
@font-face {
  font-family: 'Museo Sans Regular';
  src: local('Museo Sans Regular'),
  url(museosans-regular.woff2) format('woff2'),
  url(museosans-regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Light';
  src: local('Museo Sans Light'),
  url(museosans-light.woff2) format('woff2'),
  url(museosans-light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: local('Museo Sans Bold'),
  url(museosans-bold.woff2) format('woff2'),
  url(museosans-bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Semibold';
  src: local('Museo Sans Semibold'),
  url(museosans-semibold.woff2) format('woff2'),
  url(museosans-semibold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Italic';
  src: local('Museo Sans Italic'),
  url(museosans-it.woff2) format('woff2'),
  url(museosans-it.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Black';
  src: local('Museo Sans Black'),
  url(museosans-black.woff2) format('woff2'),
  url(museosans-black.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//Source Code Prop Medium
@font-face {
  font-family: 'Source Code Pro Regular';
  src: local('Source Code Pro Regular'),
  url(sourcecodepro-medium.woff2) format('woff2'),
  url(sourcecodepro-medium.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//Helvetica Neue Medium
@font-face {
  font-family: 'Helvetica Neue Medium';
  src: local('Helvetica Neue Medium'),
  url(HelveticaNeueMedium.woff2) format('woff2'),
  url(HelveticaNeueMedium.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
