//Source Sans Pro
@font-face {
  font-family: 'Source Sans Pro Regular';
  src: local('Source Sans Pro Regular'),
  url(../fonts/sourcesanspro-regular.woff2) format('woff2'),
  url(../fonts/sourcesanspro-regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: local('Source Sans Pro Light'),
  url(../fonts/sourcesanspro-light.woff2) format('woff2'),
  url(../fonts/sourcesanspro-light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro Bold';
  src: local('Source Sans Pro Bold'),
  url(../fonts/sourcesanspro-bold.woff2) format('woff2'),
  url(../fonts/sourcesanspro-bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro Semibold';
  src:local('Source Sans Pro Semibold'),
  url(../fonts/sourcesanspro-semibold.woff2) format('woff2'),
  url(../fonts/sourcesanspro-semibold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro Italic';
  src: local('Source Sans Pro Italic'),
  url(../fonts/sourcesanspro-it.woff2) format('woff2'),
  url(../fonts/sourcesanspro-it.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//Museo Sans
@font-face {
  font-family: 'Museo Sans Regular';
  src: local('Museo Sans Regular'),
  url(../fonts/museosans-regular.woff2) format('woff2'),
  url(../fonts/museosans-regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Light';
  src: local('Museo Sans Light'),
  url(../fonts/museosans-light.woff2) format('woff2'),
  url(../fonts/museosans-light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: local('Museo Sans Bold'),
  url(../fonts/museosans-bold.woff2) format('woff2'),
  url(../fonts/museosans-bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Semibold';
  src: local('Museo Sans Semibold'),
  url(../fonts/museosans-semibold.woff2) format('woff2'),
  url(../fonts/museosans-semibold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Italic';
  src: local('Museo Sans Italic'),
  url(../fonts/museosans-it.woff2) format('woff2'),
  url(../fonts/museosans-it.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Black';
  src: local('Museo Sans Black'),
  url(../fonts/museosans-black.woff2) format('woff2'),
  url(../fonts/museosans-black.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//Source Code Prop Medium
//@font-face {
//  font-family: 'Source Code Pro Regular';
//  src: local('Source Code Pro Regular'),
//  url(../fonts/sourcecodepro-medium.woff2) format('woff2'),
//  url(../fonts/sourcecodepro-medium.ttf) format('truetype');
//  font-weight: normal;
//  font-style: normal;
//  font-display: swap;
//}

//Helvetica Neue Medium
@font-face {
  font-family: 'Helvetica Neue Medium';
  src: local('Helvetica Neue Medium'),
  url(../fonts/HelveticaNeueMedium.woff2) format('woff2'),
  url(../fonts/HelveticaNeueMedium.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
